
{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Client</th>
        <th scope="col">importe</th>
        <th scope="col">fecha</th>
        <th scope="col">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for d in devolutions%}
        <tr>
            <td>{{ d.id }}</td>
            <td>{{ d.client}}</td>
            <td>{{d.get_cart_total|floatformat:2}}</td>
            <td>{{ d.date_created}}</td>
            <td>
                    <a href="/devolution/edit/{{d.id}}" class="btn btn-warning btn-xs btn-flat">
                        <i class="fas fa-edit"></i></a>
              
                    <a href="/devolution/delete/{{d.id}}" class="btn btn-danger btn-xs btn-flat">
                            <i class="fas fa-trash-alt"></i></a>
		    <a href="/devolution/pdfprint/{{d.id}}" class="btn btn-secondary btn-xs btn-flat">
                            <i class="fas fa-print"></i></a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
