{% extends 'create.html' %}

{% block columns %}
    <tr>
        <th scope="col">Quantity</th>
        <th scope="col">Description</th>
        <th scope="col">P.Unit</th>
        <th scope="col">P.total</th>
        <th scope="col">Options</th>
    </tr>
{% endblock %}

{% block rows %}
    {% for p in items%}
        <tr>
            <td>{{ p.quantity}}</td>
            <td>{{ p.product}}</td>
            <td>{{ p.cost}}</td>
            <td>{{ p.get_total|floatformat:2}}</td>
            <td>
                    <a href="/purchase/itemdelete/{{p.id}}" class="btn btn-danger btn-xs btn-flat">
                            <i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
    {% endfor %}
{% endblock %}

