{% extends 'list.html' %}

{% block columns %}
    <tr>
        <th scope="col">BarCode</th>
        <th scope="col">pv1</th>
        <th scope="col">Name</th>
        <th scope="col">Marca</th>
        <th scope="col">Price</th>
        <th scope="col">PriceGranel</th>
        <th scope="col">UnidadGranel</th>
        <th scope="col">Minimo</th>
        <th scope="col">Stock</th>
	<!-- <th scope="col">Opciones</th> -->
    </tr>
{% endblock %}

{% block rows %}
    {% for c in products%}
        <tr>
            <td>{{ c.barcode}}</td>
            <td>{{ c.pv1}}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.brand}}</td>
            <td>${{ c.priceLista}}</td>
            <td>$ {{ c.priceListaGranel}}</td>
            <td>{{ c.unidad}}</td>
            <td>{{ c.minimo}}</td>
            <td>{{ c.stock}}</td>
<!--            <td>
                    <a href="/product/edit/{{c.id}}" class="btn btn-warning btn-xs btn-flat">
                        <i class="fas fa-edit"></i></a>
              
                    <a href="/product/delete/{{c.id}}" class="btn btn-danger btn-xs btn-flat">
                            <i class="fas fa-trash-alt"></i></a>
</td> -->
        </tr>
    {% endfor %}
{% endblock %}
